// homepage.scss

#homepage {
  background: $primary_color;
  font-family: $font;


  p {
    color: pink;
  }
  form {
    input {
      &:nth-child(2n) {
        @include form-input(100px, green);
      }
      &[type="submit"] {
        @include form-submit();
      }
    }
  }
}
